.example-card {
  width: 300px;
  height: 200px;
}

.background-color-header {
  background-color: steelblue;
}

.material-icons.color { color: white;
padding-right: 15px;
}

.paddingForButtons{
  padding-left: 20px;
  padding-right: 20px;
}


