<md-card class="example-card">
  <md-card-header  fxLayout="row" fxLayoutAlign="center start" >
    <md-toolbar color="blue">
      <md-icon class="md-icon md-36">person</md-icon>
    </md-toolbar>
    <div md-card-avatar class="example-header-image"></div>
    <div>
      <md-card-title fxLayout="row" fxLayoutAlign="center start" >{{contact.firstName + ' ' + contact.lastName}}</md-card-title>
      <!--<md-card-subtitle>{{contact.address + ', ' + contact.city}}</md-card-subtitle>
      <md-card-subtitle>{{contact.phone}}</md-card-subtitle>-->
    </div>
  </md-card-header>
  <md-card-content  fxLayout="row" fxLayoutAlign="center center">
    <p>
      {{contact.address + ', ' + contact.city}}<br>
      {{contact.phone}}
    </p>
  </md-card-content>
  <md-card-actions fxLayout="row" fxLayoutAlign="center end">
    <button md-fab>
      <md-icon class="material-icons md-18">delete</md-icon>
    </button>
    <button md-fab>
      <md-icon class="material-icons md-18">create</md-icon>
    </button>
    <button md-fab>
      <md-icon class="material-icons md-18">place</md-icon>
    </button>
  </md-card-actions>
</md-card>
