<md-card class="login-card" fxLayout="column" fxLayoutAlign="center center">
  <h3>Contacts App</h3>
  <md-card-content>
    <div fxLayout="row" fxLayoutAlign="start center">
      <md-icon class="material-icons color md-36 login-icon-padding">account_circle</md-icon>
    <md-input-container>
      <input mdInput type="text" [(ngModel)]="user.username" placeholder="Username">
    </md-input-container>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
    <md-icon class="material-icons color md-36 login-icon-padding">lock</md-icon>
    <md-input-container>
      <input mdInput type="password" [(ngModel)]="user.password" placeholder="Password">
    </md-input-container>
    </div>
  </md-card-content>
  <md-card-actions layout="row" layout-align="end center">
    <button md-fab (click)="login(user.username)" [appVibrate]="">Login</button>
  </md-card-actions>
</md-card>
